.mt-5{
    margin-top: 3rem;
}

.bg-white{
    background-color: #fff;
}
.ml-auto{
    margin-left: auto;
}

.m-4{
    margin: 0 1.5rem !important;
}

.mb-5{
    margin-bottom: 3rem;
}
.bordered{
    border-radius: 17px;
}
a, a:hover{
    color: black;
    text-decoration: none;
}

.min-vh-85{
    height: 85vh !important;
}