@import url('./assets/css/utilities.css');

body{
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bg-img{
  width: 700px;
}
.card-img, .card-img-top {
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}
.card:hover{
  cursor: pointer;
  z-index: 1;
  position: relative;
  box-shadow: 0 1px 2px -2px #00000029,0 3px 6px #0000001f,0 5px 12px 4px #00000017;
}

.btn-secondary:focus, .btn-outline-secondary:focus, .navbar-toggler:focus, .btn-secondary:active:focus, .btn-outline-secondary:active:focus{
  box-shadow: none;
}
.nav-link{
  padding: .2rem 1rem !important;
}

.btn-primary {
  padding: 2px 15px;
  font-weight: 200;
  background-color: #FEAF8C;
  border: none;
}
.form-floating>.form-control{
  height: calc(2.5rem + 2px);
}
.form-floating>label{
  padding: 0.5rem .75rem;
  opacity: 0.6;
}
.form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label{
  font-size: 14px;
  padding-top: .7rem;
}
.form-floating>.form-control:focus, .form-floating>.form-control:not(:placeholder-shown){
  height: 55px;
}